html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f58913;
}

#container {
   min-height: 100%;
   position: relative;
}

button {
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

.brand {
    min-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -62px;
    margin-left: -284px;
    width: 568px;
    height: 114px;
}

.white {
    background-color: #ffffff;
}

.color {
    background-color: #f58913;
}

#logo {
    height: 50px;
}

#recordings li {
    margin-bottom: 25px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: 50px;
}
