!!!5
html(lang="en")
  head
    include includes/head

  body
    div#container

      include includes/header

      div.container
        div.row
          div.col-lg-6.col-offset-3
            ul#recordings
              - each file in audioFiles
                li
                  span #{file.DateTime}
                  span
                    audio(controls, preload)
                      source(src="#{file.Key}")

      include includes/footer
    include includes/scripts
