!!!5
html(lang="en")
  head
    include includes/head

  body
    div.container

      include includes/header

      div.row.text-center
        h1 Welcome to v0ice
      hr
      div.row
        div.col-lg-6.col-offset-3
          ul#recordings
            - each file in audioFiles
              li
                span #{file.DateTime}
                span
                  audio(src="#{file.Key}", controls=true, type="audio/wav")

      hr
      include includes/footer
    include includes/scripts
