!!!5
html(lang="en")
  head
    include includes/head

  body

    div#container

      include includes/header

      div.container
        div.row
          div.col-lg-6.col-offset-5
            button.btn.btn-default#record-btn Record
            button.btn.btn-default#stop-btn(disabled) Stop
        div.row
          div.col-lg-12
            img#onair(src="img/onair.png", width="150", style="display: none")

        hr
        div.row
          div.col-lg-6.col-offset-3
            ul#recordings

      include includes/footer
    include includes/scripts
    script(type='text/javascript', src='js/voicerecorder.js')
